
	
		
		<!-- START GRID -->
		<ul>
			<% @projects.each do |t| %>
				<li><%= image_tag t.poster.url(:full) %></li>
			<% end %>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>
			<li><img src="http://placehold.it/220x220"></li>			
		</ul>
		
	