<article id="dialog">
			<div id="images">
				&nbsp;
			</div>
			<footer>
				<ul>
					<li>	
						<div id="first" class="col_3">
							<h3>Site Title</h3>
							<a href="">www.urladdress.com</a>	
						
						</div>
					</li>
					<li>
						<div id="second" class="col_3">
								<div class="languages">
									<a href="">Ruby on Rails</a>,	
									<a href="">PHP</a>,	
									<a href="">HTML5</a>,
									<a href="">CSS3</a>,
								</div>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</div>
					</li>
					<li>
						<div id="third" class="col_3">
							<nav>
								<a href="#">&#060;</a>
								<a href="#">&#062;</a>
								<a href="#">X</a>
							</nav>
						</div>
					</li>
				</ul>
			

				
			
			</footer>
		</article>