<aside>
	<h2 id="logo">Cameron Barker</h2>
	<nav>
		<ul>
			<li><a href="#">Development</a></li>
			<li><a href="#">Digital Production</a></li>
			<li><a href="#">Production</a></li>
		</ul>
	</nav>
	<div id="languages">
		<%= tag_creator(@tags) %>
	</div>
</aside>